{% extends 'base.html.twig' %}

{% block title %}Deposit index{% endblock %}

{% block body %}
    <h1>Deposit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Percent</th>
                <th>Date_open</th>
                <th>Date_close</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deposit in deposits %}
            <tr>
                <td>{{ deposit.id }}</td>
                <td>{{ deposit.startamount }}</td>
                <td>{{ deposit.percent }}</td>
                <td>{{ deposit.dateOpen ? deposit.dateOpen|date('Y-m-d') : '' }}</td>
                <td>{{ deposit.dateClose ? deposit.dateClose|date('Y-m-d') : '' }}</td>
                <td>{{ deposit.status }}</td>
                <td>
                    <a href="{{ path('app_deposit_show', {'id': deposit.id}) }}">show</a>
                    <a href="{{ path('app_deposit_edit', {'id': deposit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deposit_new') }}">Create new</a>
{% endblock %}
