{{ form_start(form) }}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="mt-3">
        <div class="form-check form-switch">
            {{ form_widget(form.coloredCategories, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.coloredCategories, 'Category with color', {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
    <div class="mt-3">
        <div class="form-check form-switch">
            {{ form_widget(form.coloredParentCategories, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.coloredParentCategories, 'Parent category with color', {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
    <div class="mt-3">
        <div class="form-check form-switch">
            {{ form_widget(form.showColorInTransactionList, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.showColorInTransactionList, 'Show color in transaction list', {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-3">
    <div>
        {{ form_label(form.defaultColorForCategoryAndParent, 'Default color for both categories', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.defaultColorForCategoryAndParent, {'attr': {'class': 'form-control form-control-color'}}) }}
    </div>
    <div>
        {{ form_label(form.colorExpenseChart, 'Color for expense chart', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.colorExpenseChart, {'attr': {'class': 'form-control form-control-color'}}) }}
    </div>
    <div>
        {{ form_label(form.colorIncomeChart, 'Color for profit chart', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.colorIncomeChart, {'attr': {'class': 'form-control form-control-color'}}) }}
    </div>
    <div>
        {{ form_label(form.transactionsPerPage, 'Count transactions to show per page', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.transactionsPerPage, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<button class="mt-4 btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

    {#    <div class="row"> #}
    {#        <div class="col-md-3 col-sm-6 mt-3"> #}
    {#            {{ form_label(form.transactionColumnsShow, 'Transaction Columns Show', {'label_attr': {'class': 'form-label'}}) }} #}
    {#            {{ form_widget(form.transactionColumnsShow, {'attr': {'class': 'form-select selectpicker'}}) }} #}
    {#        </div> #}
    {#    </div> #}