{{ form_start(form) }}
<div class="row">
    <div class="col-md-4 col-sm-6 mt-3">
        <div class="form-check form-switch">
            {{ form_widget(form.coloredCategories, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.coloredCategories, 'Category with color', {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-3">
        <div class="form-check form-switch">
            {{ form_widget(form.coloredParentCategories, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.coloredParentCategories, 'Parent category with color', {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-3">
        <div class="form-check form-switch">
            {{ form_widget(form.showColorInTransactionList, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.showColorInTransactionList, 'Show color in transaction list', {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 mt-3">
        {{ form_label(form.defaultColorForCategoryAndParent, 'Default color for both categories', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.defaultColorForCategoryAndParent, {'attr': {'class': 'form-control form-control-color'}}) }}
    </div>
    <div class="col-md-3 col-sm-6 mt-3">
        {{ form_label(form.colorExpenseChart, 'Color for expence chart', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.colorExpenseChart, {'attr': {'class': 'form-control form-control-color'}}) }}
    </div>
    <div class="col-md-3 col-sm-6 mt-3">
        {{ form_label(form.colorIncomeChart, 'Color for profit chart', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.colorIncomeChart, {'attr': {'class': 'form-control  form-control-color'}}) }}
    </div>
    <div class="col-md-3 col-sm-6 mt-3">
        {{ form_label(form.transactionsPerPage, 'Count transactions to show per page', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.transactionsPerPage, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
{# {{ form_widget(form) }} #}
<button class=" mt-2 btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
