{{ form_start(form, {'attr': {'class': 'space-y-6 bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg'}}) }}
<div class="flex flex-col sm:flex-row sm:space-x-4">
    <div class="w-full sm:w-80">
        {{ form_label(form.coloredCategories, 'Category with color', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.coloredCategories, {'attr': {'class': 'form-checkbox rounded text-blue-500 dark:bg-gray-800'}}) }}
    </div>

    <div class="w-full sm:w-80">
        {{ form_label(form.coloredParentCategories, 'Parent category with color', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.coloredParentCategories, {'attr': {'class': 'form-checkbox rounded text-blue-500 dark:bg-gray-800'}}) }}
    </div>

    <div class="w-full sm:w-80">
        {{ form_label(form.showColorInTransactionList, 'Show color in transaction list', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.showColorInTransactionList, {'attr': {'class': 'form-checkbox rounded text-blue-500 dark:bg-gray-800'}}) }}
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <div>
        {{ form_label(form.defaultColorForCategoryAndParent, 'Default color for both categories', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.defaultColorForCategoryAndParent, {'attr': {'class': 'w-full h-10 rounded-md border border-gray-300 dark:border-gray-600 focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div>
        {{ form_label(form.colorExpenseChart, 'Color for expense chart', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.colorExpenseChart, {'attr': {'class': 'w-full h-10 rounded-md border border-gray-300 dark:border-gray-600 focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div>
        {{ form_label(form.colorIncomeChart, 'Color for profit chart', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.colorIncomeChart, {'attr': {'class': 'w-full h-10 rounded-md border border-gray-300 dark:border-gray-600 focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div>
        {{ form_label(form.transactionsPerPage, 'Count transactions to show per page', {'label_attr': {'class': 'block text-gray-900 dark:text-gray-300 mb-1'}}) }}
        {{ form_widget(form.transactionsPerPage, {'attr': {'class': 'w-full p-2 rounded-md border border-gray-300 dark:border-gray-600 dark:bg-gray-800 text-gray-900 dark:text-gray-200 focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
</div>

<div class="flex justify-start">
    <button class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}