{% extends 'main_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="h-full flex flex-col justify-center py-5 px-4">
        <h1 class="text-4xl font-bold text-center mb-8 text-gray-300">{{ 'title'| trans({}, 'registration') }}</h1>

        <div class="max-w-lg mx-auto p-6 rounded-lg shadow-lg">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'attr' : {
                'class' : 'w-full max-w-sm p-6 shadow-lg rounded-lg'
            }
            }) }}

            <div class="space-y-4">
                <div class="mb-4">
                    <label for="{{ registrationForm.email.vars.id }}"
                           class="block text-sm font-medium text-gray-300">{{ 'email.label'| trans({}, 'registration') }}</label>
                    {{ form_widget(registrationForm.email, {'attr':
                        {
                            'class': 'dark:text-gray-200 mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-600',
                            'placeholder': 'email.placeholder'|trans({}, 'registration')
                        }
                    }) }}
                </div>

                <div class="mb-4">
                    <label for="{{ registrationForm.plainPassword.vars.id }}"
                           class="block text-sm font-medium text-gray-300">{{ 'password.label'| trans({}, 'registration') }}</label>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {
                        'class': 'dark:text-gray-200 mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-600',
                        'placeholder': 'password.placeholder'|trans({}, 'registration')
                    }}) }}
                </div>

                <div class="flex items-center mb-4">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mr-2'}}) }}
                    <label for="{{ registrationForm.agreeTerms.vars.id }}" class="text-sm text-gray-200">
                        {{ 'terms.agree'| trans({}, 'registration') }}
                        <a href="{{ path('app_registration_terms') }}" class="text-blue-500 hover:underline">
                            {{ 'terms.terms'| trans({}, 'registration') }}
                        </a>
                    </label>
                </div>

                <div class="flex flex-col space-y-4">
                    <button type="submit"
                            class="bg-blue-500 text-white w-full py-2 px-4 rounded-md hover:bg-blue-600 transition">
                        {{ 'sign_up'| trans({}, 'registration') }}
                    </button>
                    <a href="{{ path('app_login') }}"
                       class="text-center text-sm text-blue-500 hover:text-blue-700 transition">{{ 'sign_in'| trans({}, 'registration') }}</a>
                </div>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}