{% extends 'main_base.html.twig' %}

{% block title %}Terms{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center py-5 px-4 bg-gray-100">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
            <h1 class="text-3xl font-semibold text-center mb-6">{{ 'terms_of_service.title'|trans({}, 'terms') }}</h1>

            <p class="text-lg text-gray-700 mb-4">{{ 'terms_of_service.introduction'|trans({}, 'terms') }}</p>

            <p class="text-lg text-gray-700 mb-4">
                <strong>{{ 'terms_of_service.user_responsibility.title'|trans({}, 'terms') }}: </strong>
                {{ 'terms_of_service.user_responsibility.content'|trans({}, 'terms') }}</p>

            <p class="text-lg text-gray-700 mb-4">
                <strong>{{ 'terms_of_service.no_liability.title'|trans({}, 'terms') }}: </strong>
                {{ 'terms_of_service.no_liability.content'|trans({}, 'terms') }}
            </p>

            {#            <p class="text-lg text-gray-700 mb-4"> #}
            {#                <strong>{{ 'terms_of_service.accuracy_of_information.title'|trans({}, 'terms') }}: </strong> #}
            {#                {{ 'terms_of_service.accuracy_of_information.content'|trans({}, 'terms') }}</p> #}

            <p class="text-lg text-gray-700 mb-4">
                <strong>{{ 'terms_of_service.indemnification.title'|trans({}, 'terms') }}</strong>
                {{ 'terms_of_service.indemnification.content'|trans({}, 'terms') }}</p>

            <p class="text-lg text-gray-700 mb-4">
                <strong>{{ 'terms_of_service.modification_of_terms.title'|trans({}, 'terms') }}: </strong>
                {{ 'terms_of_service.modification_of_terms.content'|trans({}, 'terms') }}
            </p>

            {#            <p class="text-lg text-gray-700 mb-4"> #}
            {#                <strong>{{ 'terms_of_service.governing_law.title'|trans({}, 'terms') }}: </strong> #}
            {#                {{ 'terms_of_service.governing_law.content'|trans({}, 'terms') }}</p> #}

            <p class="text-lg text-gray-700 mb-6">{{ 'terms_of_service.conclusion'|trans({}, 'terms') }}</p>

            <div class="text-center">
                {{ include('component/_link.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}