{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <div class="row">
        <h4>Create:</h4>
        <div class="col">
            {{ include('component/_link_succes.html.twig', {
                'href': path('app_category_new'),
                'link_label':'Main category'}) }}
            {{ include('component/_link_succes.html.twig', {
                'href': path('app_sub_category_new'),
                'link_label': 'Sub category',
                'aditional_class':'mx-4'
            }) }}
        </div>
    </div>

    <div class="row mt-5">
        {% for key, category in categories %}
            <div class="col-lg-6 col-md-12 my-3">
                <div class="card">
                    <div class="card-header">
                        {{ key }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for key, sub in category %}
                            <li class="list-group-item">{{ sub.name }}
                                {% if 'main' in key %}
                                    <span class="float-end mx-2">{{ include('category/_delete_form.html.twig', {
                                            'additional_class' : 'btn-sm btn-outline-danger'
                                        }) }}</span>
                                    <a class="btn btn-sm btn-outline-warning float-end"
                                       href="{{ path('app_category_edit' ,{'id' : category.main.id}) }}">Edit</a>

                                {% else %}
                                    <span class="float-end mx-2">{{ include('sub_category/_delete_form.html.twig') }}</span>
                                    <a class="btn btn-sm btn-outline-warning float-end"
                                       href="{{ path('app_sub_category_edit' ,{'id' : sub.id}) }}">Edit</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
