{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if app.user.currency() is empty %}
        <div class="row mt-3">
            <a href="{{ path('app_user_index', { 'id':app.user.id() }) }}" class="btn btn-lg btn-danger">Set
                currency!</a>
        </div>
    {% endif %}
    <div class="row mt-3">
        <div class="mt-2 col-md-4 col-sm-12 col-lg-3"><a href="{{ path('app_transaction_new') }}" class="btn btn-outline-success w-100">Transaction
                <svg class="bi">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>
        <div class="mt-2 col-md-4 col-sm-12 col-lg-3"><a href="{{ path('app_transfer_new') }}" class="btn btn-outline-success w-100">Transfer
                <svg class="bi">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>
        <div class="mt-2 col-md-4 col-sm-12 col-lg-3"><a href="{{ path('app_sub_category_new') }}" class="btn btn-outline-success w-100">Category
                <svg class="bi">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>
        <div class="mt-2 col-md-4 col-sm-12 col-lg-3"><a href="{{ path('app_budget_new') }}" class="btn btn-outline-success w-100">Budget
                <svg class="bi">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>
    </div>
    {% if  chart is not null %}
        {{ include('component/_chart.html.twig') }}
    {% else %}
        <div class="my-3">
            <h4 class="text-info">Chart temporary not available!</h4>
        </div>
    {% endif %}


    <div class="row mt-5">
        <h2>Last transactions: </h2>
        <table class="table table-hover table-responsive">
            <thead>
            </thead>
            <tbody>
            {% for  transaction in last10transaction %}
                <tr>
                    <td>{{ include('component/_transaction_type.html.twig') }}</td>
                    <td class="text-center">
                        <a class="btn {{ color(transaction.type) }} text-decoration-none"
                           href="{{ path('app_transaction_show', {'id': transaction.id}) }}">{{ transaction.amount }}</a>
                    </td>
                    <td>{{ transaction.subCategory ? transaction.subCategory.name : '' }}</td>
                    <td>{{ transaction.wallet ? transaction.wallet.number : '' }}</td>
                    <td>{{ transaction.date ? transaction.date|date('d-M') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}