{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <form action="{{ path('app_home') }}" method="get">
        <div class="row ">
            <div class="col d-flex">
                <label class="form-label" for="income">Income: </label>
                <input class="form-check mx-2" type="checkbox" id="income"
                       name="income" {{ income_check ? 'checked' : '' }} value="true">
            </div>
            <div class="col d-flex">
                <label class="form-label" for="expense">Expense:</label>
                <input class="form-check mx-2" type="checkbox" id="expense"
                       name="expense" {{ expense_check ? 'checked' :  '' }} value="true">
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-info" type="submit">Show</button>
            </div>
        </div>
    </form>
        {{ render_chart(chart) }}

    <h2>Last 10 transactions</h2>
    <table class="table table-hover table-responsive">
        <thead>
        </thead>
        <tbody>
        {% for  transaction in last10transaction %}
            <tr>
                <td>{{ include('component/_transaction_type.html.twig') }}</td>
                <td class="text-center">
                    <a class="btn {{ color(transaction.type) }} text-decoration-none"
                       href="{{ path('app_transaction_show', {'id': transaction.id}) }}">{{ transaction.amount }}</a>
                </td>
                <td>{{ transaction.category ? transaction.category.name : '' }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}