{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
{#            <div class="btn-toolbar mb-2 mb-md-0">#}
{#                <div class="btn-group me-2">#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>#}
{#                </div>#}
{#                <button type="button"#}
{#                        class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">#}
{#                    <svg class="bi">#}
{#                        <use xlink:href="#calendar3"></use>#}
{#                    </svg>#}
{#                    This week#}
{#                </button>#}
{#            </div>#}
        </div>

        {{ render_chart(chart) }}

    <h2>Last 10 transactions</h2>
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        {% for  transaction in last10transaction %}
            <tr>
                <td>{{ include('component/_transaction_type.html.twig') }}</td>
                <td class="text-center">
                    <a class="btn {{ color(transaction.type) }} text-decoration-none"
                       href="{{ path('app_transaction_show', {'id': transaction.id}) }}">{{ transaction.amount }}</a>
                </td>
                <td>{{ transaction.category ? transaction.category.name : '' }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}