{{ form_start(form) }}
<div class="space-y-4">
    <div class="flex flex-col sm:flex-row sm:space-x-4 mt-3">
        <div class="flex-1">
            <label class="form-label block text-gray-700" for="walletOut">{{ form_label(form.walletOut, 'From', {'label_attr': {'class': 'form-label'}}) }}</label>
            {{ form_widget(form.walletOut, {'attr': {'class': 'form-control border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
        </div>
        <div class="flex-1 mt-3 sm:mt-0">
            <label class="form-label block text-gray-700" for="amount">{{ form_label(form.amount, 'Amount', {'label_attr': {'class': 'form-label'}}) }}</label>
            {{ form_widget(form.amount, {'attr': {'class': 'form-control border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500', 'placeholder': 'Amount'}}) }}
        </div>
        <div class="flex-1 mt-3 sm:mt-0">
            <label class="form-label block text-gray-700" for="walletIn">{{ form_label(form.walletIn, 'To', {'label_attr': {'class': 'form-label'}}) }}</label>
            {{ form_widget(form.walletIn, {'attr': {'class': 'form-control border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
        </div>
    </div>

    <div class="mt-4 flex justify-between">
        <button type="submit" class="btn btn-success px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-md shadow-md">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_transfer_index') }}" class="btn btn-outline-secondary px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-700 rounded-md">Back to list</a>
    </div>
</div>
{{ form_end(form) }}
