{% extends 'base.html.twig' %}

{% block title %}Transfers{% endblock %}

{% block body %}
    <h1 class="text-3xl font-semibold mb-5">Transfers</h1>
    <div class="mb-4">
        {{ include('component/_link_succes.html.twig', {'href': path('app_transfer_new') }) }}
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto">
            <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-left">Amount</th>
                <th class="px-4 py-2 text-left">From</th>
                <th class="px-4 py-2 text-left">To</th>
            </tr>
            </thead>
            <tbody>
            {% for transfer in transfers %}
                <tr class="border-t hover:bg-gray-50">
                    <td class="px-4 py-2">{{ transfer.amount }} {{ transfer.walletOut.currency }}</td>
                    <td class="px-4 py-2">{{ transfer.walletOut.name ?? transfer.walletOut.number }}</td>
                    <td class="px-4 py-2">{{ transfer.walletIn.name ?? transfer.walletIn.number }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="px-4 py-2 text-center text-gray-500">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
