<!doctype html>
<html class="bg-gray-100" data-theme="dark" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
          rel="icon">
    {% block stylesheets %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body class="dark:bg-gray-800 bg-gray-300 min-h-screen">
<header class="flex justify-between items-center p-4 bg-white dark:bg-gray-800 shadow-md">
    <div class="text-xl font-semibold dark:text-white" id="title">{{ 'index.title'|trans({}, 'translation') }}</div>
    <div class="flex items-center space-x-4">
        <form class="w-full max-w-sm" id="search-form" method="GET">
            <div class="relative">
                <div class="justify-between hidden" id="search-group">
                    <button class="px-4 py-2 bg-gray-900 text-gray-400 border border-gray-400 rounded-l-lg"
                            id="close-btn"
                            type="button">x
                    </button>
                    <input aria-label="Search"
                           class="focus:rounded-none px-4 py-2 border-t border-b border-gray-400 relative w-80 text-gray-700 border border-gray-300 dark:text-gray-300"
                           id="search-input"
                           name="search"
                           placeholder="Search"
                           required
                           type="text">
                    <button class="px-4 border bg-gray-900 text-gray-400 border-gray-400 rounded-r-lg text-lg"
                            id="search-btn"
                            type="submit">>
                    </button>
                    <div class="hidden bg-white dark:bg-gray-500 absolute right-0 top-11 p-2 rounded  sm:h-full md:h-90 w-full rounded-l dark:text-gray-300"
                         id="search-wrap">
                        <div id="search-result"></div>
                    </div>
                </div>
            </div>
            <button class="bg-gray-600 text-white p-2 rounded-lg"
                    id="open-btn"
                    type="button">Search
            </button>
        </form>
        <!--        <button class="p-2 bg-gray-200 rounded-lg dark:bg-gray-700" id="theme-toggle">-->
        <!--            <i class="fas fa-moon"></i>-->
        <!--        </button>-->
    </div>
    <a class="bg-blue-500 text-white p-2 rounded-lg hidden md:block" href="{{ path('app_logout') }}">Вийти</a>
    <button class="text-gray-700 dark:text-gray-300 sm:block md:hidden" id="menu-btn" type="button">
        <svg class="size-6" fill="none" id="open-menu" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
        <svg class="size-6 hidden" fill="none" id="close-menu" stroke="currentColor" stroke-width="1.5"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </button>
</header>
<div class="flex body relative">
    <nav class="hidden md:block bg-gray-300 dark:bg-gray-800 w-64 h-full p-4 my-2" id="menu">
        {% set mainWallet = app.user.wallets|filter(wallet => wallet.isMain)|first %}
        {% if mainWallet != false %}
            <ul class="space-y-4 md-shadow">
                <li class="mb-2 dark:text-gray-100"><span class="font-semibold">{{ 'amount'|trans({}, 'menu') }}:</span>
                    {% if mainWallet.currency == app.user.currency %}
                        {{ mainWallet.amount }}
                    {% else %}
                        0
                    {% endif %}
                    {{ app.user.currency }}
                </li>
            </ul>
            <hr class="text-gray-300 my-2">
        {% endif %}
        <ul class="space-y-4 md-shadow">
            <li><a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_home')) }}"
                   href="{{ path('app_home') }}">{{ 'dashboard'|trans({}, 'menu') }}</a></li>
            <li>
                <a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_transaction_index')) }}"
                   href="{{ path('app_transaction_index') }}">{{ 'transaction'|trans({}, 'menu') }}</li>
            <li>
                <a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_transfer_index')) }}"
                   href="{{ path('app_transfer_index') }}">{{ 'transfer'|trans({}, 'menu') }}</a></li>
            <li>
                <a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_parent_category_index')) }}"
                   href="{{ path('app_parent_category_index') }}">{{ 'category'|trans({}, 'menu') }}</a></li>
            <li><a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_wallet_index')) }}"
                   href="{{ path('app_wallet_index') }}">{{ 'wallet'|trans({}, 'menu') }}</a></li>
        </ul>
        <hr class="text-gray-300 my-2">
        <ul class="space-y-4 md-shadow">
            <li>
                <a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_user_index',{'id':app.user.id})) }}"
                   href="{{ path('app_user_index',  {'id':app.user.id}) }}">{{ 'profile'|trans({}, 'menu') }}</a></li>
            <li>
                <a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_user_setting_index')) }}"
                   href="{{ path('app_user_setting_index') }}">{{ 'setting'|trans({}, 'menu') }}</a></li>
            <li><a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_feedback')) }}"
                   href="{{ path('app_feedback') }}">{{ 'feedback'|trans({}, 'menu') }}</a></li>
        </ul>
        <hr class="text-gray-300 my-2">
        <ul class="space-y-4 md-shadow">
            <li>
                <a class="text-gray-900 dark:text-gray-100 hover:text-blue-500 {{ isActive(path('app_user_index', {'id':app.user.id})) }}"
                   href="{{ path('app_logout') }}">{{ 'sing_out'|trans({}, 'menu') }}</a></li>
        </ul>
    </nav>
    <main class="flex-1 p-4">
        {{ include('component/_flash.html.twig') }}
        {% block body %}
        {% endblock body %}
    </main>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function () {
        document.querySelector('button#search-button').disabled = true;
    });
</script>

{% block javascripts %}
    <script src="{{ asset('assets/app.js') }}"></script>
    {#    {% block importmap %}{% endblock %} #}
{% endblock %}
</body>
</html>