<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.118.2">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    {% block stylesheets %} {{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>

{{ include('component/_icons.html.twig') }}

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="{{ path('app_home') }}">{{ 'index.title'|trans({}, 'translation') }}</a>

    {{ include('component/_mobile_version_menu.html.twig') }}

    <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    </div>


</header>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
                 aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                            <span class="nav-link d-flex align-items-center gap-2 text-decoration-underline">
                                <svg class="bi">
                                    <use xlink:href="#cash"></use>
                                </svg>
                                {{ 'menu.amount'|trans({}, 'translation') }}: {{ app.user.walletByCurrency ?? "0" }} {{ app.user.currency }}
                            </span>
                            </li>
                        </ul>
                    <hr class="my-3">

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_home')) }} "
                               aria-current="page"
                               href="{{ path('app_home') }}">
                                <svg class="bi">
                                    <use xlink:href="#house-fill"></use>
                                </svg>
                                {{ 'menu.dashboard'|trans({}, 'translation') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_transaction_index')) }} "
                               href="{{ path('app_transaction_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#cart"></use>
                                </svg>
                                {{ 'menu.transaction'|trans({}, 'translation') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_transfer_index')) }} "
                               href="{{ path('app_transfer_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#transfer"></use>
                                </svg>
                                {{ 'menu.transfer'|trans({}, 'translation') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_category_index')) }} "
                               href="{{ path('app_category_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#file-earmark"></use>
                                </svg>
                                {{ 'menu.category'|trans({}, 'translation') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_report')) }} gap-2"
                               href="{{ path('app_report') }}">
                                <svg class="bi">
                                    <use xlink:href="#graph-up"></use>
                                </svg>
                                {{ 'menu.report'|trans({}, 'translation') }}
                            </a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_budget_index')) }} gap-2"#}
{#                               href="{{ path('app_budget_index') }}">#}
{#                                <svg class="bi">#}
{#                                    <use xlink:href="#kanban"/>#}
{#                                </svg>#}
{#                                Budgets#}
{#                            </a>#}
{#                        </li>#}
                    </ul>

                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_wallet_index')) }} "
                               href="{{ path('app_wallet_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#wallet"></use>
                                </svg>
                                {{ 'menu.wallet'|trans({}, 'translation') }}
                            </a>
                        </li>
                    </ul>
                    <hr class="my-3">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_user_index',{'id':app.user.id})) }}
                            gap-2" href="{{ path('app_user_index', {'id':app.user.id}) }}">
                                <svg class="bi">
                                    <use xlink:href="#person"></use>
                                </svg>
                                {{ 'menu.profile'|trans({}, 'translation') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_feedback')) }} gap-2"
                               href="{{ path('app_feedback') }}">
                                <svg class="bi">
                                    <use xlink:href="#envelope"></use>
                                </svg>
                                {{ 'menu.feedback'|trans({}, 'translation') }}
                            </a>
                        </li>
                    </ul>
                    <hr class="my-3">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="{{ path('app_logout') }}">
                                <svg class="bi">
                                    <use xlink:href="#door-closed"></use>
                                </svg>
                                {{ 'menu.sing_out'|trans({}, 'translation') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {{ include('component/_flash.html.twig') }}
            {% block body %} {% endblock body %}
        </main>
    </div>
</div>
{% block javascripts %} {{ encore_entry_script_tags('app') }}{% endblock %}

</body>
</html>
