<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.118.2">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{{ include('component/_icons_menu.html.twig') }}

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" style="background: none !important;"
       href="{{ path('app_home') }}">{{ 'index.title'|trans({}, 'translation') }}</a>

    {{ include('component/_mobile_version_menu.html.twig') }}
    <form method="GET" class="w-100" id="search-form">
        <div class="input-group">
            <input id="search-input" class="form-control rounded-0" type="text"
                   placeholder="Search transaction by category"
                   aria-label="Search"
                   name="search">
            <button class="btn btn-secondary rounded-0" id="search-button" type="submit">Search</button>
        </div>
    </form>

    <div class="wrapper-search-result hidden">
        <button type="button" class="btn-close" id="close-btn"
                aria-label="Close"></button>
        <div id="search-result"></div>
    </div>

    {#    {% block search_results %}{% endblock %} #}

</header>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
                 aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <ul class="nav flex-column">
                        {% set mainWallet = app.user.wallets|filter(wallet => wallet.isMain)|first %}
                        {% if mainWallet != false %}
                            <li class="nav-item">
                                <span class="nav-link d-flex align-items-center gap-2 text-decoration-underline">
                                <svg class="bi">
                                            <use xlink:href="#cash"></use>
                                        </svg>
                                    {{ 'amount'|trans({}, 'menu') }}:
                                    {% if mainWallet.currency == app.user.currency %}
                                        {{ mainWallet.amount }}
                                    {% else %}
                                        0
                                    {% endif %}
                                    {{ app.user.currency }}
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                    <hr class="my-3">

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_home')) }} "
                               aria-current="page"
                               href="{{ path('app_home') }}">
                                <svg class="bi">
                                    <use xlink:href="#house-fill"></use>
                                </svg>
                                {{ 'dashboard'|trans({}, 'menu') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_transaction_index')) }} "
                               href="{{ path('app_transaction_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#cart"></use>
                                </svg>
                                {{ 'transaction'|trans({}, 'menu') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_parent_category_index')) }} "
                               href="{{ path('app_parent_category_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#file-earmark"></use>
                                </svg>
                                {{ 'category'|trans({}, 'menu') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_report')) }} gap-2"
                               href="{{ path('app_report') }}">
                                <svg class="bi">
                                    <use xlink:href="#graph-up"></use>
                                </svg>
                                {{ 'report'|trans({}, 'menu') }}
                            </a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 {{ isActive(path('app_wallet_index')) }} "
                               href="{{ path('app_wallet_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#wallet"></use>
                                </svg>
                                {{ 'wallet'|trans({}, 'menu') }}
                            </a>
                        </li>
                    </ul>
                    <hr class="my-3">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_user_index',{'id':app.user.id})) }}
                            gap-2" href="{{ path('app_user_index', {'id':app.user.id}) }}">
                                <svg class="bi">
                                    <use xlink:href="#person"></use>
                                </svg>
                                {{ 'profile'|trans({}, 'menu') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_user_setting_index')) }}
                            gap-2" href="{{ path('app_user_setting_index') }}">
                                <svg class="bi">
                                    <use xlink:href="#setting"></use>
                                </svg>
                                {{ 'setting'|trans({}, 'menu') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center {{ isActive(path('app_feedback')) }} gap-2"
                               href="{{ path('app_feedback') }}">
                                <svg class="bi">
                                    <use xlink:href="#envelope"></use>
                                </svg>
                                {{ 'feedback'|trans({}, 'menu') }}
                            </a>
                        </li>
                    </ul>
                    <hr class="my-3">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="{{ path('app_logout') }}">
                                <svg class="bi">
                                    <use xlink:href="#door-closed"></use>
                                </svg>
                                {{ 'sing_out'|trans({}, 'menu') }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {{ include('component/_flash.html.twig') }}
            {% block body %} {% endblock body %}
        </main>
    </div>
</div>
<script>
    const button = document.querySelector('button.btn');
    const form = document.querySelector('form')
    form.addEventListener('submit', function () {
        button.disabled = true
    })
</script>
{{ encore_entry_script_tags('app') }}
{% block javascripts %} {% endblock %}

</body>
</html>
