{{ form_start(form) }}
<div class="alert-danger">
    {{ form_errors(form) }}
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 mt-3">
        {{ form_label(form.currency, 'From/To', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        {{ form_label(form.amount, 'Amount', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        {{ form_label(form.name, 'Type', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<br>
<div class="mt-4">
    {{ include('component/_button.html.twig', {'href': path('app_wallet_new') }) }}
    {{ include('component/_link.html.twig', {'href': path('app_wallet_index') }) }}
</div>
{{ form_end(form) }}
