{% extends 'base.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block body %}

    <div class="my-3">
        {{ include('component/_link_succes.html.twig', {'href': path('app_wallet_new') }) }}
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto border-collapse border border-gray-300">
            <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 text-left">Number</th>
                <th class="px-4 py-2 text-left">Amount</th>
                <th class="px-4 py-2 text-left">Name</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in wallets %}
                <tr class="border-t hover:bg-gray-50">
                    <td class="px-4 py-2">
                        <a class="text-blue-500 hover:underline" href="{{ path('app_wallet_show',{'number': wallet.number}) }}">
                            {{ wallet.number }}
                        </a>
                    </td>
                    <td class="px-4 py-2">{{ wallet.amount }}</td>
                    <td class="px-4 py-2">{{ wallet.name ?? '---' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="px-4 py-2 text-center text-gray-500">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
