{% extends 'base.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block body %}

    <div class="my-3">
        {{ include('component/_link_succes.html.twig', {'href': path('app_wallet_new') }) }}
    </div>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Number</th>
            <th>Amount</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td><a class="btn btn-outline-secondary" href="{{ path('app_wallet_show',{'number':wallet.number}) }}">{{ wallet
                        .number
                        }}</a></td>
                <td>{{ wallet.amount }}</td>
                <td>{{ wallet.name  ?? "---"}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
