{% extends 'base.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block body %}
    <h1 class="text-3xl font-semibold mb-6">Wallet</h1>

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto border-collapse border border-gray-300">
            <tbody>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 text-left">Number</th>
                <td class="px-4 py-2">{{ wallet.number }}</td>
            </tr>
            <tr class="border-t">
                <th class="px-4 py-2 text-left">Name</th>
                <td class="px-4 py-2">{{ wallet.name }}</td>
            </tr>
            <tr class="border-t">
                <th class="px-4 py-2 text-left">Amount</th>
                <td class="px-4 py-2">{{ wallet.amount }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        {{ include('component/_link.html.twig', {'href': path('app_wallet_index'), 'aditional_class': 'mx-3'}) }}
    </div>

    <div class="flex justify-between mt-4">
        <a class="btn btn-warning text-white bg-yellow-500 hover:bg-yellow-400 px-4 py-2 rounded-md" href="{{ path('app_wallet_edit', {'number': wallet.number}) }}">
            Edit
        </a>
        {{ include('wallet/_delete_form.html.twig') }}
    </div>
{% endblock %}
