{% extends 'base.html.twig' %}

{% block title %}{{ 'index.title'|trans({}, 'translation') }}{% endblock %}

{% block body %}
    {% if app.user.currency() is empty %}
        <div class="row mt-3">
            <a href="{{ path('app_user_index', { 'id':app.user.id() }) }}"
               class="btn btn-lg btn-danger">{{ 'set_currency'|trans({}, 'menu') }}</a>
        </div>
    {% endif %}
    <div class="row mt-3 md:flex">
        <div class="mt-2 md:w-1/3 sm:w-full lg:w-1/4">
            <a href="{{ path('app_transaction_new') }}"
               class="btn btn-outline-success w-full flex items-center justify-center space-x-2">
                <span>{{ 'transaction'|trans({}, 'menu') }}</span>
                <svg class="bi w-4 h-4">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>
        <div class="mt-2 md:w-1/3 sm:w-full lg:w-1/4">
            <a href="{{ path('app_category_new') }}"
               class="btn btn-outline-success w-full flex items-center justify-center space-x-2">
                <span>{{ 'category'|trans({}, 'menu') }}</span>
                <svg class="bi w-4 h-4">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>
    </div>

    {% if chart is not null %}
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <div class="col-6 offset-3">
                    <div class="my-3">
                        {{ render_chart(chart) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mt-5">
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'index.card.total'|trans({}, 'translation') }}</h5>
                                <p class="card-text">{{ 'index.card.description'|trans({}, 'translation') }}</p>
                                <span href="#" class="bg-primary text-white py-2 px-3 rounded-md">
                                    {{ amount ? amount : 0 }} {{ app.user.currency }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="my-3">
            <h4 class="text-blue-500">{{ 'index.chart_not_available'|trans({}, 'translation') }}</h4>
        </div>
    {% endif %}

    {% if last_transaction|length > 0 %}
        <div class="row mt-5">
            <h2 class="text-xl">{{ 'index.last_transaction'|trans({}, 'translation') }} </h2>
            <table class="table-auto w-full mt-3">
                <thead>
                <tr>
                    <th class="text-center">Amount</th>
                    <th>Category</th>
                    <th>Wallet</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in last_transaction %}
                    <tr class="hover:bg-gray-100">
                        <td class="text-center">
                            <a class="btn text-decoration-none {{ color(transaction.type) }}"
                               href="{{ path('app_transaction_show', {'id': transaction.id}) }}">
                                {{ transaction.amount }}
                            </a>
                        </td>
                        <td>{{ transaction.category.name ?? '' }}</td>
                        <td>{{ transaction.wallet.name ?? transaction.wallet.number }}</td>
                        <td>{{ transaction.date|date('d M') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center py-3">{{ 'index.not_found_records'|trans({}, 'translation') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
