{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}

    <h1>Report</h1>
    <form action="{{ path('app_report') }}" method="get">
        <div class="row">
            <div class="col d-flex">
                <label class="form-label" for="income">Income: </label>
                <input class="form-check mx-2" type="checkbox" id="income"
                       name="income" {{ income_check ? 'checked' : '' }} value="true">
            </div>
            <div class="col d-flex">
                <label class="form-label" for="expense">Expense:</label>
                <input class="form-check mx-2" type="checkbox" id="expense"
                       name="expense" {{ expense_check ? 'checked' :  '' }} value="true">
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-info" type="submit">Show</button>
            </div>
        </div>
    </form>
    {{ render_chart(chart) }}



    <h3 class="mt-5">Transactions per period:</h3>
    {{ include('report/_form.html.twig') }}
    {% if transactionsList is not null %}
        {{ include('report/_card.html.twig') }}
    {% endif %}


{% endblock %}
