{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Chart per month
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <form action="{{ path('app_report') }}" method="get">
                        <div class="row">
                            <div class="col d-flex">
                                <label class="form-label" for="income">Income: </label>
                                <input class="form-check mx-2" type="checkbox" id="income"
                                       name="income" {{ income_check ? 'checked' : '' }} value="true">
                            </div>
                            <div class="col d-flex">
                                <label class="form-label" for="expense">Expense:</label>
                                <input class="form-check mx-2" type="checkbox" id="expense"
                                       name="expense" {{ expense_check ? 'checked' :  '' }} value="true">
                            </div>
                            <div class="col">
                                <button class="btn btn-sm btn-outline-info" type="submit">Show</button>
                            </div>
                        </div>
                    </form>
                    {{ render_chart(chart) }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Chart per period
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">{{ include('report/_form.html.twig') }}
                    {% if transactionsList is not null %}
                        {{ include('report/_card.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}
