{{ form_start(form) }}
{{ include('component/_alert.html.twig') }}
<div class="row mb-4">
    <div class="col-lg-6 col-md-12">
        <div class="input-group mb-3">
            <span class="input-group-text"
                  id="basic-addon3"> {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}</span>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {% if app.user.setting.coloredParentCategories %}
                <span class="input-group-text"
                      id="basic-addon2"> {{ form_widget(form.color, {'attr': {'class': 'form-control form-control-color'}}) }}</span>
            {% endif %}
            {{ include('component/_button.html.twig', {
                'href': path('app_category_new'),
                'button_label': 'Save'
            }) }}
        </div>
    </div>
</div>
{{ include('component/_link.html.twig', {
    'href': path('app_parent_category_index'),
    'button_label': 'Save'
}) }}
{{ form_end(form) }}
