{{ form_start(form) }}
{{ include('component/_alert.html.twig') }}

<div class="bg-white dark:bg-gray-600 shadow-lg p-4 rounded-lg max-w-lg w-full">
    <div class="space-y-4">
        <div>
            <label for="{{ form.name.vars.id }}" class="block text-gray-700 dark:text-gray-300 font-semibold mb-2">Name</label>
            {{ form_widget(form.name, {'attr': {
                'class': 'w-full p-3 rounded-md border border-gray-300 dark:bg-gray-700 dark:border-gray-600 text-gray-900 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent'
            }}) }}
        </div>
        {% if app.user.setting.coloredParentCategories %}
            <div>
                <label for="{{ form.color.vars.id }}" class="block text-gray-700 dark:text-gray-300 font-semibold mb-2">Color</label>
                {{ form_widget(form.color, {'attr': {
                    'class': 'w-10 h-10 rounded-md border border-gray-300 dark:border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500'
                }}) }}
            </div>
        {% endif %}
    </div>
    <div class="flex space-x-4 mt-6">
        {{ include('component/_button.html.twig', {
            'href': path('app_category_new'),
            'button_label': 'Save'
        }) }}
        {{ include('component/_link.html.twig', {
            'href': path('app_parent_category_index'),
            'button_label': 'Cancel'
        }) }}
    </div>
</div>

{{ form_end(form) }}