{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">Category</h2>
    <div class="mb-5">
        <h4 class="text-gray-900 dark:text-gray-300 text-xl mt-4">Create:</h4>
        <div class="flex flex-col md:flex-row gap-4 mt-2">
            {{ include('component/_link_succes.html.twig', {
                'href': path('app_parent_category_new'),
                'link_label': 'Main category'
            }) }}
            {{ include('component/_link_succes.html.twig', {
                'href': path('app_category_new'),
                'link_label': 'Sub category'
            }) }}
        </div>
    </div>

    <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-6">
        {% for categories in parent_categories %}
            {% if categories is not empty %}
                <div class="bg-white dark:bg-gray-700 shadow-lg rounded-lg overflow-hidden">
                    <div class="p-4 bg-[{{ contrast(categories['parentCategory'].color) }}] dark:text-white text-gray-900 font-semibold flex justify-between items-center">
                        <span>{{ categories['parentCategory'].name }}</span>
                        {{ include('parent_category/_delete_form.html.twig') }}
                    </div>
                    <ul class="divide-y divide-gray-300 dark:divide-gray-600">
                        {% for category in categories['categories'] %}
                            <li class="flex justify-between items-center px-4 py-2 dark:text-gray-200">
                                <div class="flex items-center">
                                    {{ category.name }}
                                </div>
                                <div class="flex items-center gap-2">
                                    <a class="bg-yellow-500 hover:bg-yellow-600 text-white text-sm font-medium py-1 px-3 rounded-md"
                                       href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
                                    {{ include('category/_delete_form.html.twig') }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}