{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">Category</h2>

    <div class=" bg-white shadow-lg rounded-lg p-4 mb-6">
        <table class="min-w-full table-auto">
            <tbody>
            <tr class="border-b">
                <th class="text-left px-4 py-2 font-semibold">Id</th>
                <td class="px-4 py-2">{{ category.id }}</td>
            </tr>
            <tr class="border-b">
                <th class="text-left px-4 py-2 font-semibold">Name</th>
                <td class="px-4 py-2">{{ category.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="flex space-x-4">
        <a href="{{ path('app_parent_category_index') }}" class="text-blue-500 hover:underline">Back to list</a>
        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="text-yellow-500 hover:underline">Edit</a>
    </div>

    <div class="mt-4">
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}