<table class="table table-responsive">
    <tr>
        <th>
            Date
        </th>
        <th>
            Message
        </th>
        <th>
            Fixed
        </th>
        <th>
            Change status
        </th>
        <th>
            Delete
        </th>
    </tr>
    {% for feedback in feedback_list %}
        <tr class="{{ feedback.fixed ? "table-success" : "table-danger" }}">
            <td>
                {{ feedback.date|date('d-m-Y') }}
            </td>
            <td>
                {{ feedback.message }}
            </td>
            <td>
                {{ feedback.fixed ? "yes" : "no" }}
            </td>
            <td>
                {% if feedback.fixed == false %}
                    <form action="{{ path('app_close_feedback', {'id':feedback.id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('close' ~ feedback.id) }}">
                        <button class="btn btn-primary" type="submit">
                            Close
                        </button>
                    </form>
                {% endif %}
            </td>
            <td>
                <form action="{{ path('app_delete_feedback', {'id':feedback.id}) }}" method="post"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feedback.id) }}">
                    <button class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
