<div class="row">
    {{ form_start(form) }}
    <div class="alert-danger">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.amount) }}
        </div>
        <div class="col-6">
            {{ form_row(form.type) }}
        </div>
        <div class="col-6">
            {{ form_row(form.date) }}
        </div>
        <div class="col-6">
            {{ form_row(form.description) }}
        </div>
        <div class="col-6">
            {{ form_row(form.category) }}
            {% if form.category is empty %}
                <p>Create new <a href="{{ path('app_category_new') }}">category</a></p>
            {% endif %}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
