{% extends 'base.html.twig' %}

{% block title %}Transaction List{% endblock %}

{% block body %}
    <a class="btn btn-outline-success mt-sm-4 mt-md-0" href="{{ path('app_transaction_new') }}">Create new</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in pagerfanta.currentPageResults %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ type(transaction.type) }}</td>
                <td class="text-center">
                    <a class="btn {{ color(transaction.type) }} text-decoration-none"
                       href="{{ path('app_transaction_show', {'id': transaction.id}) }}">{{ transaction.amount }}</a>
                </td>
                <td>{{ transaction.category ? transaction.category.name : '' }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
                <td>{{ transaction.description }}</td>
                <td>
                    <div class="d-flex flex-row">
                        <a class="btn btn-warning me-2"
                           href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">Edit</a>
                        {{ include('transaction/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <div class="pagerfanta">
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap4') }}
        </div>
    </div>
{% endblock %}
