{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <div class="my-3">
        {{ include('component/_link_succes.html.twig', {'href': path('app_transaction_new') }) }}
    </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Number</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in pagerfanta.currentPageResults %}
                <tr>
                    <td class="text-center">
                        <a class="btn {{ color(transaction.type) }} text-decoration-none"
                           href="{{ path('app_transaction_show', {'id': transaction.id}) }}">
                            {{ transaction.amount }}

                        </a>
                    </td>
                    <td>{{ transaction.category ? transaction.category.name : '' }}</td>
                    <td>{{ transaction.wallet.number ?? transaction.wallet.name }}</td>
                    <td>{{ transaction.date ? transaction.date|date('d.m') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <div class="pagerfanta">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap5') }}
            </div>
        </div>
{% endblock %}
