{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <div class="my-3">
        {{ include('component/_link_succes.html.twig', {'href': path('app_transaction_new') }) }}
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto">
            <thead class="border-b bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Amount</th>
                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Category</th>
                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Number</th>
                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in pagerfanta.currentPageResults %}
                <tr class="custom-row"
                        {% if app.user.setting.showColorInTransactionList %}
                    style="--tw-table-bg: {{ transaction.Category.color|default('') }};"
                        {% endif %}>
                    <td class="px-4 py-2 text-center">
                        <a class="btn {{ color(transaction.type) }} text-decoration-none"
                           href="{{ path('app_transaction_show', {'id': transaction.id}) }}">
                            {{ transaction.amount }}
                        </a>
                    </td>
                    <td class="px-4 py-2">{{ transaction.Category ? transaction.Category.name : '' }}</td>
                    <td class="px-4 py-2">{{ transaction.wallet.name ?? transaction.wallet.number }}</td>
                    <td class="px-4 py-2">{{ transaction.date ? transaction.date|date('d M') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="px-4 py-2 text-center text-gray-500">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <div class="pagerfanta">
                {{ pagerfanta(pagerfanta, 'tailwind') }}
            </div>
        </div>
    </div>
{% endblock %}
