{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <div class="row">
        <div class="my-3">
            {{ include('component/_link_succes.html.twig', {'href': path('app_transaction_new') }) }}
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Number</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {#        {% set transactionColumns = app.user.setting.transactionColumnsShow %} #}
            {% for transaction in pagerfanta.currentPageResults %}
                <tr class="custom-row"
                        {% if app.user.setting.showColorInTransactionList %}
                    style="--bs-table-color: {{ contrast(transaction.Category.color|default('')) }};
                            --bs-table-bg: {{ transaction.Category.color|default('') }};"
                        {% endif %}>
                    <td class="text-center">
                        <a class="btn {{ color(transaction.type) }} text-decoration-none"
                           href="{{ path('app_transaction_show', {'id': transaction.id}) }}">
                            {{ transaction.amount }}
                        </a>
                    </td>
                    <td>{{ transaction.Category ? transaction.Category.name : '' }}</td>
                    <td>{{ transaction.wallet.name ?? transaction.wallet.number }}</td>
                    <td>{{ transaction.date ? transaction.date|date('d M') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <div class="pagerfanta">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap5') }}
            </div>
        </div>
    </div>
{% endblock %}
